doctype html
html
	head
		meta(charset="UTF-8")
		title="Login to google"
		style
			include ./styles.css
	body
		div.nav
			h1 To log in to Google please click button in the upper right corner
			a.btn(href= url) Log in
		div.container
			p 
				span.g G
				span.o1 o
				span.o2 o
				span.g g
				span.l l
				span.e e