@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {box-sizing: border-box;}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.nav {
	background-color: #eee;
	padding: 15px;
}

h1 {
	font-weight: 400;
}

a, h1 {
	display: inline-block;
}

.btn {
	font-size: 20px;
	font-weight: 500;
	float: right;
	margin: 20px;
	background-color: #fff;
	color: #5f6368;
	border-radius: 24px;
	width: 150px;
	text-align: center;
	padding: 12px; 
	text-decoration: none;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}

.btn:hover {
	box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
	background-color: #fafafb;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 6vw;
	font-size: 100px;
	font-weight: 500;
}

span {
	font-family: 'Poppins', sans-serif;
}

.g {
	color: #4285f4;
}

.o1, .e {
	color: #EA4335;
}

.o2 {
	color: #FBBC05;
}

.l {
	color: #34A853;
}